<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CRM Products</title>
    <link rel="stylesheet" th:href="@{/style/tables.css}">
</head>
<body>
<div class="container">
    <header>
        <h1>CRM Products</h1>
    </header>
    <main>
        <table>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
            <tr th:each="product : ${products}">
                <td th:text="${product.name}"></td>
                <td th:text="${product.price}"></td>
                <td th:text="${product.quantity}"></td>
            </tr>
        </table>
        <a th:href="@{/}">Back to Home</a>
    </main>
    <footer>
        <p>&copy; 2024 Product Management App</p>
    </footer>
</div>
</body>
</html>
